---
import { getCollection } from 'astro:content';
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import { SITE } from "@/config";

const armies = await getCollection('army', ({ data }) => !data.draft);
armies.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={`Armies | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Armies" pageDesc="All fully painted and assembled Battle Lines Drawn armies.">
    <ul>
      {armies.map(army => (
        <li class="my-6">
          <a
            href={`/army/${army.slug}/`}
            class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 hover:underline"
          >
            <h2>{army.data.title}</h2>
          </a>
          {army.data.description && (
            <p class="mt-1 text-foreground/80">{army.data.description}</p>
          )}
          {army.data.tags.length > 0 && (
            <ul class="mt-2 flex flex-wrap gap-2">
              {army.data.tags.map(tag => (
                <li>
                  <a
                    href={`/tags/${tag.toLowerCase().replace(/\s+/g, '-')}/`}
                    class="text-sm text-accent hover:underline"
                  >
                    #{tag}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>
  </Main>
  <Footer />
</Layout>
