---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import Sidebar from '../../components/Sidebar.astro';
import PostCard from '../../components/PostCard.astro';
import { getPublishedPosts, getAllTags } from '../../utils/collections';

const armies = await getCollection('army', ({ data }) => !data.draft);
armies.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const recentPosts = await getPublishedPosts();
const allTags = await getAllTags();
---

<Base title="Armies">
  <div class="wrap">
    <div class="post_content">
      <div class="page-header"><h1>Armies</h1></div>
      <ul class="post-list">
        {armies.map(a => (
          <PostCard
            title={a.data.title}
            href={`/army/${a.slug}/`}
            date={a.data.date}
            description={a.data.description}
            thumbnail={a.data.thumbnail}
            tags={a.data.tags}
          />
        ))}
      </ul>
    </div>
    <Sidebar recentPosts={recentPosts} allTags={allTags} />
  </div>
</Base>
