---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import Sidebar from '../../components/Sidebar.astro';
import PostCard from '../../components/PostCard.astro';
import { getPublishedPosts, getAllTags } from '../../utils/collections';

const projects = await getCollection('project', ({ data }) => !data.draft);
projects.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const recentPosts = await getPublishedPosts();
const allTags = await getAllTags();
---

<Base title="Projects">
  <div class="wrap">
    <div class="post_content">
      <div class="page-header"><h1>Projects</h1></div>
      <ul class="post-list">
        {projects.map(p => (
          <PostCard
            title={p.data.title}
            href={`/project/${p.slug}/`}
            date={p.data.date}
            description={p.data.description}
            thumbnail={p.data.thumbnail}
            tags={p.data.tags}
          />
        ))}
      </ul>
    </div>
    <Sidebar recentPosts={recentPosts} allTags={allTags} />
  </div>
</Base>
