---
import Base from '../../layouts/Base.astro';
import Sidebar from '../../components/Sidebar.astro';
import PostCard from '../../components/PostCard.astro';
import { getPublishedPosts, getAllTags } from '../../utils/collections';

const posts = await getPublishedPosts();
const allTags = await getAllTags();
---

<Base title="Posts">
  <div class="wrap">
    <div class="post_content">
      <div class="page-header">
        <h1>Posts</h1>
      </div>
      <ul class="post-list">
        {posts.map(p => (
          <PostCard
            title={p.data.title}
            href={`/post/${p.slug}/`}
            date={p.data.date}
            description={p.data.description}
            thumbnail={p.data.thumbnail}
            tags={p.data.tags}
          />
        ))}
      </ul>
    </div>
    <Sidebar recentPosts={posts} allTags={allTags} />
  </div>
</Base>
